@import "tailwindcss";

:root {
  --background: #c1c1c1;
  --background-accent: #79716b;
  --foreground: #2f2f2f;
  --color-primary: #0052af;
  --color-secondary: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2a2a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 1200px) {
  body {
    padding: 0 1rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  nav h1 {
    margin-top: 0px;
  }
  nav span {
    margin: 0;
  }
}
